<nav class="p-5 bg-white shadow md:flex md-items-center md:justify-between">
  <div class="flex justify-between items-center">
    <span class="text-2xl cursor-pointer">
      WoDing
    </span>    

    <div class="flex md:hidden">
      <div class="flex rounded">
        <input type="search" 
               name="search" 
               id="search" 
               placeholder="立即下訂" 
               class="border-none bg-gray-200 px-4 py-2 text-gray-900 outline-none focus:outline-none rounded">
        <button class="ml-1 rounded px-4 py-2 text-white bg-gray-800">搜尋</button>
      </div>
    
      <button class="md:hidden bg-red-600 text-white duration px-6 py-2 mx-4 hover:bg-red-500 rounded">
        店家註冊
      </button>
  
    </div>
  </div>

  <ul class="md:flex md:items-center md:static fixed bg-white w-full left-0 md:w-auto md:py-0 py-4 md:pl-0 pl-7 hidden">
    <li class="mx-4 my-6 md:my-0">
      <a href="#" class="text-xl hover:text-red-500 duration-500">首頁</a>
    </li>
    <li class="mx-4 my-6 md:my-0">
      <a href="#" class="text-xl hover:text-red-500 duration-500">店家分類</a>
    </li>

    <div class="flex rounded">
      <input type="search" 
             name="search" 
             id="search" 
             placeholder="立即下訂" 
             class="border-none bg-gray-200 px-4 py-2 text-gray-900 outline-none focus:outline-none rounded">
      <button class="ml-1 rounded px-4 py-2 text-white bg-gray-800">搜尋</button>
    </div>


    <button class="bg-red-600 text-white duration px-6 py-2 mx-4 hover:bg-red-500 rounded">
      店家註冊
    </button>

  </ul>

</nav>
