<section>
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <div class="w-full rounded-lg shadow dark:border md:mt-0 md:max-w-lg xl:p-0">
        <div class="p-6 space-y-4 text-center md:space-y-6 sm:p-8">
          <p data-controller= 'redirect-root' class='text-major'></p>
          <h1 class="text-xl font-bold text-gray-900 md:text-2xl">
            🎉 您已完成註冊 🎉
          </h1>
          <p>請至您的信箱確認信件，以完成帳號驗證。</p>
          <div>
            <%= link_to '回到首頁', root_path, class: "major-btn w-full py-2" %>
          </div>
        </div>
      </div>
  </div>
</section>