<main class="max-w-screen-lg mx-auto mt-14 md:mt-20">    
  <section class="home-img">
    <div>
      <img src="https://picsum.photos/seed/picsum/1440/400" alt="">
    </div>
  
    <div class="my-6">
      <span class="text-lg font-bold">搜尋餐廳：</span>
      <input type="text" class="input-border-click" placeholder='輸入搜尋餐廳'>
    </div>

    <div class="grid grid-cols-2 gap-4">
      <div>
        <h4 class="mb-4 text-lg font-bold">用餐人數</h4>
      
        <div class="flex">
          <select class="w-full mr-4 input-border-click">
            <option value="">大人人數</option>
          </select>
          <select class="w-full input-border-click">
            <option value="">小孩人數</option>
          </select>
        </div>
      </div>

      <div>
        <h4 class="mb-4 text-lg font-bold">用餐日期</h4>
        <div>
          <input type="date" class="w-full date input-border-click">
        </div>
      </div>
    </div>
  </section>
  
  <section>
    <div>
      <% @restaurants.each do |restaurant| %>
        <div class="flex py-4 my-6 border-b-2">
          <div class="mr-6 rounded">
            <img src="https://picsum.photos/seed/picsum/200/200" class="rounded" alt="">
          </div>
          <div class="txt">
            <h2><%= link_to restaurant.title, restaurant_path(restaurant), class: "mb-3 text-3xl" %></h2>
            <p class="mb-3 text-gray-500"><%= restaurant.address %></p>
            <%= restaurant.branch %></p>
            <p class="text-sm text-red-500">12月3日 的 2 人尚不開放線上訂位，其他可訂位日期：</p>
            <ul class="flex mt-2 date-list">
              <li class="major-btn">
                12月12號
              </li>
              <li class="major-btn">
                12月12號
              </li>
              <li class="major-btn">
                12月12號
              </li>
            </ul>
            <div class="mt-4">
              商店標籤：
              <% restaurant.tags.each do |tag| %>
                <span class="border p-2"><%= tag.name %></span>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </section>

</main>