
<div class=" mx-auto max-w-screen-lg mt-24">
  <%# <%= link_to "測試登出", destroy_manager_session_path, method: "delete" %> %>
  <%# <%= link_to "測試註冊", new_manager_registration_path %> %>
  <section class="border-b-2 pb-8">

    <div>
      <img src="https://picsum.photos/seed/picsum/1440/400" alt="">
    </div>
  
    <div class="my-6">
      <span class="text-lg font-bold text-gray-800">搜尋餐廳：</span>
      <input type="text" class="focus:ring-yellow-400 focus:border-yellow-400 rounded">
    </div>

    <div class="grid grid-cols-2 gap-4">
      <div>
        <h4 class="mb-4 text-lg font-bold text-gray-800">用餐人數</h4>
      
        <div class="flex">
          <select class=" focus:ring-yellow-400 focus:border-yellow-400 w-full rounded mr-4">
            <option value="">大人人數</option>
          </select>
          <select class="focus:ring-yellow-400 focus:border-yellow-400 w-full rounded">
            <option value="">小孩人數</option>
          </select>
        </div>
      </div>

      <div>
        <h4 class="mb-4 text-lg font-bold text-gray-800">用餐日期</h4>
        <div>
          <input type="date" class="focus:ring-yellow-400 focus:border-yellow-400 w-full rounded">
        </div>
      </div>
    </div>
  </section>
  
    <section>
      <div class="container">
        <div class="flex py-4 my-6">
          <div class="rounded mr-6">
            <img src="https://picsum.photos/seed/picsum/200/200" class="rounded" alt="">
          </div>
          <div class="txt">
            <h2 class="text-3xl mb-3">restaurant name</h2>
            <p class="mb-3 text-gray-500">台北市中山區樂群三路303號1F</p>
            <p class="text-gray-800">台菜香檳本館</p>
            <p class="text-red-500">12月3日 的 2 人尚不開放線上訂位，其他可訂位日期：</p>
          </div>
        </div>
      </div>
    </section>

</div>