<main>
  <div class='max-w-screen-lg px-3 mx-auto mt-8'>
    <section class='mb-4'>
      <div data-controller='manager-btn'>
        <%= link_to new_backstage_manager_restaurant_path(current_manager.id), class: 'px-6 py-2 mr-2 cursor-pointer major-btn' do %>
          <i class="fa-solid fa-plus"></i> 新增餐廳
        <% end %>
        <%= link_to root_path, class: 'px-6 py-2 mr-2 cursor-pointer major-btn' do %>
          <i class="fa-solid fa-house"></i>
        <% end %>
      </div>
    </section>

    <section class='grid w-full grid-cols-2 gap-5 md:my-4'>
      <%= render partial: "restaurant", collection: @restaurants %>
    </section>
  </div>  
</main>

      