<main>
  <div class='max-w-screen-lg px-3 mx-auto mt-8'>
    <section class='mb-4'>
      <div>
        <span class='px-6 py-2 mr-2 cursor-pointer major-btn'>
          <i class="fa-solid fa-plus">
            <%= link_to " 新增餐廳", new_backstage_manager_restaurant_path(current_manager.id) %>
          </i>
        </span>
        <a href="/" class='px-6 py-2 mr-2 cursor-pointer major-btn'>
          <i class="fa-solid fa-house"></i>
        </a>
      </div>
    </section>

    <section class='w-full px-0 shadow-lg md:p-4 md:my-4'>
      <%= render partial: "restaurant", collection: @restaurants %>
    </section>
  </div>  
</main>

      