@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "swiper/swiper-bundle";
@import "swiper_carousel_top";
@import "swiper_carousel";

@layer base{
  h1,h2,h3,h4,h5,h6,p,span{
    @apply text-gray-800;
  }
}

@layer components{
  .input-border-click{
    @apply  focus:ring-major
            focus:border-major
              focus:outline-none
              border
              rounded
              py-1
  }
  .input-box{
    @apply  focus:ring-major
            focus:border-major
              focus:outline-none
              border
              rounded
              mb-2 
  }
  .home-img{
    @apply pb-8 border-b-2
  }
  .major-btn{
    @apply border 
            text-sm 
            bg-major 
            text-white 
            rounded 
            py-1 
            px-2 
            hover:bg-yellow-600
            border-none
  }
  .container-1140{
    @apply max-w-screen-lg 
            py-10 
            m-auto 
            mt-24 
            border 
            rounded 
            md:flex 
            md:justify-between 
            px-14
  }
  .gray-btn{
    @apply text-gray-800 
            bg-gray-100
            border-gray-200
            rounded
            hover:border-major 
            border
  }
  .confirm-state{
    @apply border
          bg-major 
          text-white 
            rounded 
  }
  .reservation-font{
    @apply text-lg my-4 font-bold
  }
  .reservation-input{
    @apply flex flex-col
  }

  .disabled-btn{
    @apply border 
            text-sm
            text-white
            bg-gray-200 
            rounded 
            border-none
            cursor-auto
  }
  .backstage-nav-btn{
    @apply px-3
            py-4
            hover:bg-hoverGray
            hover:text-gray-800
            rounded-l-lg
    }
  .restaurant-info{
    @apply py-3
            border-b
            text-left

  }
  .seat-form{
    @apply  px-5
            py-3
            bg-gray-200
  }
}

.date{
  padding: 2px;
} 


