<h1 class="backstage-top-bar"><%= "編輯#{@restaurant.title}" %></h1>

<%= render "error", restaurant: @restaurant %>

<%= render 'form', restaurant: @restaurant, url: backstage_restaurant_path(@restaurant) %>

