<main data-controller="backstage" class='h-full bg-hoverGray max-w-screen-2xl'>
  <div class='ml-20'>
    <section data-backstage-target="reservationInfo bg-hoverGray">
      <%= render "reservation_info" %>
    </section>
    <section data-backstage-target="info" class='hidden bg-hoverGray'>
      <%= render "restaurant_info" %>  
    </section >
    <section data-backstage-target="seat" class='hidden bg-hoverGray'>
      <%= render "restaurant_seat" %>  
    </section >
    <section data-backstage-target="setting" class='hidden bg-hoverGray'>
      <%= render "setting" %>
    </section>
  </div>
</main>